.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
#authWrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#authImg {
  min-width: 350px;
  max-width: 350px;
  height: 100%;
  object-fit: cover;
}
#signUp {
  text-align: center;
}
.formImageWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-width: 500px;
  padding-left: 73px;
  padding-right: 73px;
  background-color: var(--form-bgc);
}
.formImage {
  width: 100%;
  min-width: 470px;
  max-width: 470px;
  height: 100%;
  object-fit: cover;
}
.title {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  line-height: var(--title-line-height);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.loginTitle {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  line-height: var(--title-line-height);
  text-align: left;
  padding-top: 40px;
  padding-bottom: 40px;
}
.btn {
  background: var(--btn-bgc);
  color: var(--btn-c);
  border: none;
  border-radius: 4px;
  padding: 15px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--btn-font-size);
  line-height: 20px;
  margin-top: 17px;
  margin-bottom: 5px;
}
.disabledBtn {
  background: var(--disabledBtn-bgc);
  color: var(--disabledBtn-c);
  border: none;
  border-radius: 4px;
  padding: 15px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--btn-font-size);
  line-height: 20px;
  margin-top: 17px;
  margin-bottom: 5px;
}
.subtitle {
  font-weight: var(--title-font-weight);
  font-size: var(--subtitle-font-size);
  color: var(--subtitle-c);
}
@media (min-width: 320px) and (max-width: 1023px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    min-width: 300px;
    max-width: 300px;
    padding-left: 53px;
    padding-right: 53px;
    height: 410px;
    background-color: var(--form-bgc);
  }
  .title {
    font-size: var(--subtitle-font-size);
    padding: 0;
    text-align: center;
  }
  .loginTitle {
    text-align: center;
  }
  .formImage {
    width: 100%;
    min-width: 370px;
    max-width: 370px;
    height: 410px;
    object-fit: cover;
  }
  .btn {
    background: var(--btn-bgc);
    color: var(--btn-c);
    border: none;
    border-radius: 4px;
    padding: 15px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--btn-font-size);
    line-height: 20px;
    margin-top: 17px;
    margin-bottom: 5px;
  }
  .disabledBtn {
    background: var(--disabledBtn-bgc);
    color: var(--disabledBtn-c);
    border: none;
    border-radius: 4px;
    padding: 15px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--btn-font-size);
    line-height: 20px;
    margin-top: 17px;
    margin-bottom: 5px;
  }
  .textWrapper {
    text-align: center;
  }
  #authImg {
    display: none;
  }
  #auhtWrapper {
    width: 100%;
    min-width: 300px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .form {
    width: 100%;
    min-width: 300px;
    padding: 10px;
  }
  .formImage {
    max-width: 300px;
    min-width: 300px;
    height: 100px;
  }
}
