.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
}
.item{
    width: 200px;
    margin: 10px;
    text-align: center;
}
.description{
    margin-top: 20px;
    text-overflow: ellipsis;
}
.link{
    color: #9b60e6;
    text-decoration: underline;
}
.link:hover{
    color: #915bd6;
}
.image{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}